body {
  background-color: #f0f0f0;
}

header {
  background-color: #562b81;
  color: white;
}

.font-proza {
  font-family: "Proza Libre", sans-serif;
}

h2 {
  font-weight: 400;
}

label {
  font-weight: 600;
}

input {
  height: 3em;
}

input:focus,
textarea:focus {
  outline: #562b81 solid 0.2em;
}

.padding-bottom {
  padding-bottom: 2em;
}

.full-width {
  width: 100%;
}

.save {
  margin-top: 1em;
  text-transform: uppercase;
  background-color: #562b81;
  color: white;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
}

.align-right {
  justify-content: flex-end;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.view {
  display: contents;
}

.entries-link {
  margin-left: 1em;
  margin-top: 1.15em;
  color: white;
  background-color: #562b81;
  font-size: 20px;
  font-family: "Proza Libre", sans-serif;
}

.space-between {
  justify-content: space-between;
}

.new-entry {
  color: white;
  background-color: #562b81;
  font-size: 14px;
  font-family: "Proza Libre", sans-serif;
  border-radius: 0.5em;
  height: 2.5em;
  width: 4em;
  margin-top: 2em;
  text-align: center;
  padding-top: 0.6em;
  text-transform: uppercase;
}

.align-center {
  text-align: center;
}

i {
  color: #562b81;
  padding-top: 1.15em;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgb(0 0 0 / 50%);
}

.modal {
  max-width: 25em;
  max-height: 10em;
  margin: auto;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-text {
  margin-top: 2em;
  text-align: center;
  font-weight: 400;
  background-color: white;
  font-family: sans-serif;
}

.cancel-button {
  background-color: darkgrey;
  color: black;
  text-transform: uppercase;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 0.3em;
  margin-top: 1.5em;
  margin-right: 10em;
}

.confirm-button {
  background-color: rgb(214, 0, 0);
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 1.5em;
  margin-left: 5em;
}

.delete {
  background-color: none;
  color: red;
  border: none;
  text-decoration: underline;
}
